h1 {
    text-align:center;
    color:cadetblue;

}

.idioma{
    color:darkgoldenrod;
    vertical-align:bottom;
    font-size: 2.5em;

}

.codigo{
    color: forestgreen;
    vertical-align:bottom;

}